<div id="container">
  <div class="btn-group" id="layoutOptions">
    <button class="btn btn-primary" (click)="showSimple()">Show Simple</button>
    <label class="btn btn-primary" (click)="showFlourish()">Show Flourish</label>
  </div>
  <div id="companyLogo">
    <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Northrop_Grumman.svg/320px-Northrop_Grumman.svg.png"> -->
    <span>Northrop Grumman</span>
  </div>
  <div id="adminSwitch">
    <switch size="small"
            onText="Admin On"
            offText="Admin Off"
            onColor="green"
            offColor="red"
            (click)="toggleAdminState()">
    </switch>
  </div>
</div>
